<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	<a class="navbar-brand" href="https://www.google.com">
		Likith Consultancy
	</a>
	<button class="navbar-toggler" type="button"
             data-toggle="collapse" data-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
            </button>
	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a routerLink="/home" routerLinkActive="active" class="nav-link">
					<span class="fa fa-home pr-1"></span>Home
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="/posts" routerLinkActive="active" class="nav-link">
					<span class="fab fa-linux pr-1"></span>Posts
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="/login" routerLinkActive="active" class="nav-link">
					<span class="fa fa-sign-out pr-1"></span>logout
				</a>
			</li>
		</ul>
	</div>
</nav>
<section class="sec-body bg-danger">
  <ng-content></ng-content>
</section>
<footer class="bg-dark fixed-bottom text-center text-white">
	Likith Consultancy &copy; {{currentYear}}
</footer>